.faq
{
    padding: 30px;

    &_title
    {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    &_heading
    {
        font-size: 22px;
    }

    &_text
    {
        margin-bottom: 50px;
    }
}